In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup as soup_
import re
import pandas as pd
from tabulate import tabulate
import os
import time
from selenium.webdriver.support.ui import Select
from selenium.webdriver.firefox.options import Options
from selenium.webdriver.firefox.firefox_binary import FirefoxBinary
from selenium.webdriver.support.ui import Select
import time
import random 
import string

In [2]:
from fuzzywuzzy import fuzz 
from fuzzywuzzy import process

c:\users\sneha rawat\appdata\local\programs\python\python38\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [3]:
df_mmv_means_raw = pd.read_csv('ref_means_mmvy_local_0225.csv')
df_mmv_means_raw = df_mmv_means_raw.loc[1451:]
df_mmv_means_raw.head()

,make,model,variant,variant_id,fuel_type,state_id,Kms,year,mean_mmvy
1451,DATSUN,REDI GO,T (O),3202,Petrol,1,40000,2016,150456.20590
1452,HONDA,ACCORD,2.4 VTI L MT,2196,Petrol,1,130000,2007,96261.54412
1453,HONDA,AMAZE,1.2 EMT I VTEC,406,Petrol,1,40000,2016,306605.32650
1454,HYUNDAI,CRETA,1.6 SX (O) CRDI,4532,Diesel,1,52000,2016,860804.34480
1455,HYUNDAI,ELITE I20,MAGNA 1.4 CRDI,471,Diesel,1,78000,2014,369029.86210

In [4]:
def state_name_conv(state_id):
    if state_id == 1:
        return 'New Delhi'
    elif state_id == 10:
        return 'Ahmedabad'
    elif state_id == 14:
        return 'Mumbai'
    elif state_id == 18:
        return 'Hyderabad'
    elif state_id == 19:
        return 'Bangalore'
    elif state_id == 20:
        return 'Chennai'

In [5]:
def Kms_conv(Kms):
    if Kms <=5000:
        return '5,000'
    elif Kms <= 10000:
        return '10,000'
    elif Kms <= 15000:
        return '15,000'   
    elif Kms <= 20000:
        return '20,000'
    elif Kms <= 25000:
        return '25,000'
    elif Kms <= 30000:
        return '30,000'
    elif Kms <= 35000:
        return '35,000'
    elif Kms <= 40000:
        return '40,000'
    elif Kms <= 50000:
        return '50,000'
    elif Kms <= 60000:
        return '60,000'
    elif Kms <= 70000:
        return '70,000'
    elif Kms <= 80000:
        return '80,000'
    elif Kms <= 90000:
        return '90,000'
    elif Kms <= 100000:
        return '1,00,000'
    elif Kms <= 110000:
        return '1,10,000'
    elif Kms <= 120000:
        return '1,20,000'
    else:
        return '1,20,000'

In [6]:
df_mmv_means = df_mmv_means_raw.copy()
df_mmv_means['state_name'] = df_mmv_means.state_id.apply(state_name_conv)
df_mmv_means['Kilometers_driven'] = df_mmv_means.Kms.apply(Kms_conv)

df = df_mmv_means.drop(columns= ['state_id','fuel_type'])

df = df[['make','model','year','variant','state_name','Kilometers_driven']]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27234 entries, 1451 to 28684
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   make               27234 non-null  object
 1   model              27234 non-null  object
 2   year               27234 non-null  int64
 3   variant            27234 non-null  object
 4   state_name         27234 non-null  object
 5   Kilometers_driven  27234 non-null  object
dtypes: int64(1), object(5)
memory usage: 1.2+ MB

In [8]:
scrape_list = []

In [9]:
def scrape(yr, make, ml, vt, odo, cy):
    try:
        PROXY = "##$%@!"
        binary = FirefoxBinary(r'C:\Program Files (x86)\Mozilla Firefox\firefox.exe')
        chrome_options = webdriver.FirefoxOptions()
        chrome_options.add_argument('--proxy-server=%s' % PROXY)
        driver = webdriver.Firefox(executable_path = 'geckodriver', firefox_binary = binary, options = chrome_options)
        driver.get("https://www.google.com")
        url = "https://www.cardekho.com/sell-used-car"
        driver.implicitly_wait(10)
        driver.get(url)
        time.sleep(3)
        driver.find_element_by_xpath('//*[@id="mmvData"]').click()
        years = driver.find_elements_by_tag_name('li')
        for year in years:
            if year.text == yr: 
                year.click()
                break
        brands = driver.find_elements_by_tag_name("li")
        for brand in brands:
            if fuzz.WRatio(make.lower(), brand.text.lower()) >= 95:
                brand.click()
                break
        driver.find_elements_by_class_name('sellvariant marginTopZero')
        models =  driver.find_elements_by_tag_name("li")
        for model in models:
            if fuzz.WRatio(ml.lower(), model.text.lower()) >= 95:
                model.click()
                break
        driver.find_elements_by_class_name('sellvariant')
        variants =  driver.find_elements_by_tag_name("li")
        for variant in variants:
            if fuzz.WRatio(vt.lower(), variant.text.lower()) >= 95:
                variant.click()
                break
        driver.find_elements_by_class_name('sellKilometers')        
        kms =  driver.find_elements_by_tag_name("li")
        for km in kms:
            if km.text == odo:
                km.click()
                break
        owners =  driver.find_elements_by_tag_name("li")
        for owner in owners:
            if owner.text == 'First':
                owner.click()
                break
        driver.find_elements_by_tag_name("sellAllCity clearfix")
        cities = driver.find_elements_by_tag_name("span")
        for city in cities:
            if city.text == str(cy):
                city.click()
                break     
        min_val = driver.find_element_by_xpath('.//span[@id="recPrizeSldr-min-val"]')
        max_val = driver.find_element_by_xpath('.//span[@id="recPrizeSldr-max-val"]')   
        min_val = min_val.text
        max_val = max_val.text
        driver.quit()
        return min_val, max_val
        
    except:
        driver.quit()

In [ ]:
for index, item_ in df.iterrows():
    try:    
        min_val, max_val = scrape(str(item_[2]), str(item_[0]), str(item_[1]),  str(item_[3]),  str(item_[5]), str(item_[4]))     

        scrape_dict = {'make':item_[0],
                       'model':item_[1],
                       'year':item_[2],
                       'trim':item_[3],
                       'state':item_[4],
                       'odo':item_[5],
                       'Min': min_val,
                       'Max': max_val
                      }   
    except:
        scrape_dict = {'make':item_[0],
                       'model':item_[1],
                       'year':item_[2],
                       'trim':item_[3],
                       'state':item_[4],
                       'odo':item_[5],
                       'Min':'-',
                       'Max':'-'
                      }
        
    print(scrape_dict)
    scrape_list.append(scrape_dict)
    time.sleep(2)

{'make': 'DATSUN', 'model': 'REDI GO', 'year': 2016, 'trim': 'T (O)', 'state': 'New Delhi', 'odo': '40,000', 'Min': '-', 'Max': '-'}
{'make': 'HONDA', 'model': 'ACCORD', 'year': 2007, 'trim': '2.4 VTI L MT', 'state': 'New Delhi', 'odo': '1,20,000', 'Min': '-', 'Max': '-'}
{'make': 'HONDA', 'model': 'AMAZE', 'year': 2016, 'trim': '1.2 EMT I VTEC', 'state': 'New Delhi', 'odo': '40,000', 'Min': '-', 'Max': '-'}
{'make': 'HYUNDAI', 'model': 'CRETA', 'year': 2016, 'trim': '1.6 SX (O) CRDI', 'state': 'New Delhi', 'odo': '60,000', 'Min': '-', 'Max': '-'}
{'make': 'HYUNDAI', 'model': 'ELITE I20', 'year': 2014, 'trim': 'MAGNA 1.4 CRDI', 'state': 'New Delhi', 'odo': '80,000', 'Min': 'Rs.3,80,800', 'Max': 'Rs.4,08,000'}
{'make': 'HYUNDAI', 'model': 'ELITE I20', 'year': 2014, 'trim': 'SPORTZ 1.4', 'state': 'New Delhi', 'odo': '80,000', 'Min': 'Rs.4,03,200', 'Max': 'Rs.4,32,000'}
{'make': 'HYUNDAI', 'model': 'EON', 'year': 2011, 'trim': 'ERA', 'state': 'New Delhi', 'odo': '90,000', 'Min': '-', 'Max': '-'}
{'make': 'HYUNDAI', 'model': 'GRAND I10', 'year': 2015, 'trim': 'MAGNA 1.2 VTVT', 'state': 'New Delhi', 'odo': '50,000', 'Min': 'Rs.3,08,000', 'Max': 'Rs.3,30,000'}
{'make': 'HYUNDAI', 'model': 'GRAND I10', 'year': 2017, 'trim': 'SPORTZ O 1.2', 'state': 'New Delhi', 'odo': '30,000', 'Min': '-', 'Max': '-'}
{'make': 'HYUNDAI', 'model': 'I20', 'year': 2012, 'trim': 'ASTA 1.4 CRDI 6 SPEED', 'state': 'New Delhi', 'odo': '1,10,000', 'Min': 'Rs.2,76,640', 'Max': 'Rs.2,96,400'}
{'make': 'HYUNDAI', 'model': 'VERNA', 'year': 2012, 'trim': 'FLUIDIC 1.4 CRDI', 'state': 'New Delhi', 'odo': '1,10,000', 'Min': 'Rs.2,66,000', 'Max': 'Rs.2,85,000'}
{'make': 'HYUNDAI', 'model': 'VERNA', 'year': 2013, 'trim': 'FLUIDIC 1.6 EX VTVT', 'state': 'New Delhi', 'odo': '70,000', 'Min': '-', 'Max': '-'}
{'make': 'HYUNDAI', 'model': 'VERNA', 'year': 2012, 'trim': 'FLUIDIC 1.6 SX CRDI OPT', 'state': 'New Delhi', 'odo': '1,10,000', 'Min': '-', 'Max': '-'}
{'make': 'HYUNDAI', 'model': 'XCENT', 'year': 2015, 'trim': 'BASE 1.2', 'state': 'New Delhi', 'odo': '50,000', 'Min': '-', 'Max': '-'}
{'make': 'MAHINDRA', 'model': 'BOLERO', 'year': 2012, 'trim': 'SLX', 'state': 'New Delhi', 'odo': '1,10,000', 'Min': '-', 'Max': '-'}
{'make': 'MAHINDRA', 'model': 'SCORPIO', 'year': 2018, 'trim': 'S11', 'state': 'New Delhi', 'odo': '30,000', 'Min': 'Rs.14,00,000', 'Max': 'Rs.14,37,500'}
{'make': 'MARUTI', 'model': 'BALENO', 'year': 2018, 'trim': 'ZETA 1.2 K12 ', 'state': 'New Delhi', 'odo': '20,000', 'Min': '-', 'Max': '-'}
{'make': 'MARUTI', 'model': 'CIAZ', 'year': 2017, 'trim': 'VDI+ SHVS', 'state': 'New Delhi', 'odo': '40,000', 'Min': '-', 'Max': '-'}
{'make': 'MARUTI', 'model': 'CIAZ', 'year': 2015, 'trim': 'ZDI+ SHVS', 'state': 'New Delhi', 'odo': '70,000', 'Min': 'Rs.5,04,000', 'Max': 'Rs.5,40,000'}
{'make': 'MARUTI', 'model': 'EECO', 'year': 2013, 'trim': '7 STR', 'state': 'New Delhi', 'odo': '70,000', 'Min': '-', 'Max': '-'}
{'make': 'MARUTI', 'model': 'VITARA BREZZA', 'year': 2017, 'trim': 'ZDI PLUS DUAL TONE', 'state': 'New Delhi', 'odo': '40,000', 'Min': '-', 'Max': '-'}
{'make': 'NISSAN', 'model': 'MICRA', 'year': 2011, 'trim': 'XV PREMIUM DIESEL', 'state': 'New Delhi', 'odo': '1,20,000', 'Min': '-', 'Max': '-'}
{'make': 'RENAULT', 'model': 'DUSTER', 'year': 2015, 'trim': '85 PS RXE', 'state': 'New Delhi', 'odo': '70,000', 'Min': '-', 'Max': '-'}
{'make': 'RENAULT', 'model': 'KWID', 'year': 2016, 'trim': '1.0 RXT Opt', 'state': 'New Delhi', 'odo': '40,000', 'Min': 'Rs.2,07,200', 'Max': 'Rs.2,22,000'}
{'make': 'SKODA', 'model': 'RAPID', 'year': 2013, 'trim': 'ELEGANCE 1.6 TDI MT', 'state': 'New Delhi', 'odo': '1,00,000', 'Min': 'Rs.2,23,440', 'Max': 'Rs.2,39,400'}
{'make': 'TATA', 'model': 'NEXON ', 'year': 2018, 'trim': 'XZ+ 1.5 ', 'state': 'New Delhi', 'odo': '30,000', 'Min': '-', 'Max': '-'}
{'make': 'TATA', 'model': 'TIAGO', 'year': 2016, 'trim': 'XZ 1.2 REVOTRON', 'state': 'New Delhi', 'odo': '40,000', 'Min': 'Rs.1,44,000', 'Max': 'Rs.1,58,000'}
{'make': 'TOYOTA', 'model': 'COROLLA ALTIS', 'year': 2009, 'trim': ' GL', 'state': 'New Delhi', 'odo': '1,10,000', 'Min': '-', 'Max': '-'}
{'make': 'TOYOTA', 'model': 'ETIOS LIVA', 'year': 2012, 'trim': 'G', 'state': 'New Delhi', 'odo': '80,000', 'Min': '-', 'Max': '-'}
{'make': 'TOYOTA', 'model': 'FORTUNER', 'year': 2014, 'trim': '3.0 MT 4X4', 'state': 'New Delhi', 'odo': '80,000', 'Min': '-', 'Max': '-'}
{'make': 'VOLKSWAGEN', 'model': 'POLO', 'year': 2014, 'trim': 'HIGHLINE1.2L PETROL', 'state': 'New Delhi', 'odo': '60,000', 'Min': '-', 'Max': '-'}
{'make': 'VOLKSWAGEN', 'model': 'POLO', 'year': 2013, 'trim': 'TRENDLINE 1.2L DIESEL', 'state': 'New Delhi', 'odo': '1,00,000', 'Min': '-', 'Max': '-'}
{'make': 'TOYOTA', 'model': 'INNOVA', 'year': 2015, 'trim': '2.5 VX 7 STR BS IV', 'state': 'New Delhi', 'odo': '70,000', 'Min': '-', 'Max': '-'}
{'make': 'TATA', 'model': 'SAFARI', 'year': 2011, 'trim': '4X2 EX DICOR BS IV', 'state': 'New Delhi', 'odo': '1,20,000', 'Min': '-', 'Max': '-'}
{'make': 'MAHINDRA', 'model': 'THAR', 'year': 2016, 'trim': 'CRDE 4X4 BS IV', 'state': 'New Delhi', 'odo': '60,000', 'Min': 'Rs.4,53,000', 'Max': 'Rs.4,80,000'}
{'make': 'MAHINDRA', 'model': 'SCORPIO', 'year': 2012, 'trim': 'LX BS IV', 'state': 'New Delhi', 'odo': '1,10,000', 'Min': 'Rs.3,99,000', 'Max': 'Rs.4,27,500'}
{'make': 'MARUTI', 'model': '800', 'year': 2008, 'trim': 'AC', 'state': 'New Delhi', 'odo': '1,20,000', 'Min': '-', 'Max': '-'}
{'make': 'CHEVROLET', 'model': 'SPARK', 'year': 2009, 'trim': 'LT 1.0', 'state': 'Mumbai', 'odo': '1,10,000', 'Min': 'Rs.53,200', 'Max': 'Rs.57,000'}
{'make': 'FORD', 'model': 'FIGO', 'year': 2013, 'trim': '1.4 TITANIUM DURATORQ', 'state': 'Mumbai', 'odo': '1,00,000', 'Min': '-', 'Max': '-'}
{'make': 'HYUNDAI', 'model': 'CRETA', 'year': 2015, 'trim': '1.6 SX CRDI', 'state': 'Mumbai', 'odo': '70,000', 'Min': 'Rs.7,84,000', 'Max': 'Rs.8,40,000'}
{'make': 'HYUNDAI', 'model': 'GRAND I10', 'year': 2015, 'trim': 'SPORTS 1.2 VTVT', 'state': 'Mumbai', 'odo': '50,000', 'Min': 'Rs.3,64,000', 'Max': 'Rs.3,90,000'}
{'make': 'HYUNDAI', 'model': 'I10', 'year': 2012, 'trim': 'SPORTZ 1.2 AT KAPPA2', 'state': 'Mumbai', 'odo': '80,000', 'Min': 'Rs.2,18,400', 'Max': 'Rs.2,34,000'}
{'make': 'HYUNDAI', 'model': 'I20', 'year': 2012, 'trim': 'MAGNA 1.2 VTVT', 'state': 'Mumbai', 'odo': '80,000', 'Min': 'Rs.2,91,200', 'Max': 'Rs.3,12,000'}
{'make': 'MAHINDRA', 'model': 'QUANTO', 'year': 2012, 'trim': 'C8', 'state': 'Mumbai', 'odo': '1,10,000', 'Min': 'Rs.2,10,000', 'Max': 'Rs.2,33,000'}
{'make': 'MAHINDRA', 'model': 'XUV500', 'year': 2015, 'trim': 'W6 4X2', 'state': 'Mumbai', 'odo': '70,000', 'Min': '-', 'Max': '-'}
{'make': 'MARUTI', 'model': 'ALTO K10', 'year': 2014, 'trim': 'VXI ', 'state': 'Mumbai', 'odo': '60,000', 'Min': 'Rs.1,01,000', 'Max': 'Rs.1,14,000'}
{'make': 'MARUTI', 'model': 'BALENO', 'year': 2016, 'trim': 'ZETA 1.2 K12 ', 'state': 'Mumbai', 'odo': '40,000', 'Min': '-', 'Max': '-'}
{'make': 'MARUTI', 'model': 'VITARA BREZZA', 'year': 2016, 'trim': 'ZDI PLUS DUAL TONE', 'state': 'Mumbai', 'odo': '60,000', 'Min': '-', 'Max': '-'}
{'make': 'MARUTI', 'model': 'ZEN ESTILO', 'year': 2008, 'trim': 'VXI', 'state': 'Mumbai', 'odo': '1,20,000', 'Min': 'Rs.92,736', 'Max': 'Rs.99,360'}
{'make': 'RENAULT', 'model': 'DUSTER', 'year': 2013, 'trim': '85 PS RXL OPT', 'state': 'Mumbai', 'odo': '1,00,000', 'Min': '-', 'Max': '-'}
{'make': 'RENAULT', 'model': 'KWID', 'year': 2016, 'trim': 'RXL', 'state': 'Mumbai', 'odo': '40,000', 'Min': 'Rs.2,35,200', 'Max': 'Rs.2,52,000'}
{'make': 'TATA', 'model': 'INDIGO CS', 'year': 2008, 'trim': 'GLS', 'state': 'Mumbai', 'odo': '1,20,000', 'Min': 'Rs.52,000', 'Max': 'Rs.63,000'}
{'make': 'TATA', 'model': 'INDIGO CS', 'year': 2009, 'trim': 'GLX', 'state': 'Mumbai', 'odo': '1,10,000', 'Min': '-', 'Max': '-'}
{'make': 'TOYOTA', 'model': 'ETIOS', 'year': 2011, 'trim': 'V', 'state': 'Mumbai', 'odo': '90,000', 'Min': '-', 'Max': '-'}
{'make': 'TOYOTA', 'model': 'ETIOS', 'year': 2011, 'trim': 'VX', 'state': 'Mumbai', 'odo': '90,000', 'Min': 'Rs.2,01,600', 'Max': 'Rs.2,16,000'}
{'make': 'TATA', 'model': 'MANZA', 'year': 2011, 'trim': 'AURA QUADRAJET BS IV', 'state': 'Mumbai', 'odo': '1,20,000', 'Min': 'Rs.1,02,000', 'Max': 'Rs.1,18,000'}

{'make': 'MARUTI', 'model': 'WAGON R', 'year': 2007, 'trim': 'VXI BS III', 'state': 'Mumbai', 'odo': '1,20,000', 'Min': '-', 'Max': '-'}
{'make': 'MARUTI', 'model': 'ALTO', 'year': 2012, 'trim': 'LXI', 'state': 'Mumbai', 'odo': '80,000', 'Min': '-', 'Max': '-'}
{'make': 'FORD', 'model': 'FIGO', 'year': 2012, 'trim': '1.4 EXI DURATORQ ', 'state': 'Chennai', 'odo': '1,10,000', 'Min': '-', 'Max': '-'}
{'make': 'HYUNDAI', 'model': 'I10', 'year': 2008, 'trim': 'ERA', 'state': 'Chennai', 'odo': '1,20,000', 'Min': '-', 'Max': '-'}
{'make': 'MARUTI', 'model': 'ALTO 800', 'year': 2013, 'trim': 'LXI', 'state': 'Chennai', 'odo': '70,000', 'Min': '-', 'Max': '-'}
{'make': 'HONDA', 'model': 'CITY ZX', 'year': 2007, 'trim': 'GXI', 'state': 'Bangalore', 'odo': '1,20,000', 'Min': '-', 'Max': '-'}
{'make': 'HYUNDAI', 'model': 'I10', 'year': 2013, 'trim': 'MAGNA 1.2 KAPPA2', 'state': 'Bangalore', 'odo': '70,000', 'Min': 'Rs.3,02,400', 'Max': 'Rs.3,24,000'}
{'make': 'HYUNDAI', 'model': 'I10', 'year': 2012, 'trim': 'SPORTZ 1.2 KAPPA2', 'state': 'Bangalore', 'odo': '80,000', 'Min': '-', 'Max': '-'}
{'make': 'MARUTI', 'model': 'ALTO 800', 'year': 2016, 'trim': 'LXI', 'state': 'Bangalore', 'odo': '40,000', 'Min': 'Rs.1,90,400', 'Max': 'Rs.2,04,000'}
{'make': 'MARUTI', 'model': 'SWIFT DZIRE', 'year': 2010, 'trim': 'VXI', 'state': 'Bangalore', 'odo': '1,00,000', 'Min': 'Rs.2,46,400', 'Max': 'Rs.2,64,000'}
{'make': 'MARUTI', 'model': 'SWIFT', 'year': 2011, 'trim': 'VXI', 'state': 'Bangalore', 'odo': '90,000', 'Min': 'Rs.2,80,000', 'Max': 'Rs.3,00,000'}
{'make': 'MARUTI', 'model': 'SWIFT', 'year': 2015, 'trim': 'ZXI', 'state': 'Bangalore', 'odo': '50,000', 'Min': '-', 'Max': '-'}
{'make': 'VOLKSWAGEN', 'model': 'POLO', 'year': 2015, 'trim': 'HIGHLINE1.5L DIESEL', 'state': 'Bangalore', 'odo': '70,000', 'Min': '-', 'Max': '-'}
{'make': 'MARUTI', 'model': 'SWIFT DZIRE', 'year': 2013, 'trim': 'VDI BS IV', 'state': 'Bangalore', 'odo': '1,00,000', 'Min': 'Rs.4,14,960', 'Max': 'Rs.4,44,600'}
{'make': 'MARUTI', 'model': 'RITZ', 'year': 2011, 'trim': 'VXI BS IV', 'state': 'Bangalore', 'odo': '90,000', 'Min': 'Rs.2,12,800', 'Max': 'Rs.2,28,000'}
{'make': 'MARUTI', 'model': 'RITZ', 'year': 2013, 'trim': 'VXI BS IV', 'state': 'Bangalore', 'odo': '70,000', 'Min': 'Rs.2,91,200', 'Max': 'Rs.3,12,000'}
{'make': 'CHEVROLET', 'model': 'SPARK', 'year': 2011, 'trim': 'LS 1.0', 'state': 'Ahmedabad', 'odo': '90,000', 'Min': 'Rs.76,000', 'Max': 'Rs.87,000'}
{'make': 'FORD', 'model': 'ECOSPORT', 'year': 2013, 'trim': '1.5TITANIUM TDCI', 'state': 'Ahmedabad', 'odo': '1,00,000', 'Min': '-', 'Max': '-'}
{'make': 'FORD', 'model': 'FIGO', 'year': 2012, 'trim': '1.4 EXI DURATORQ ', 'state': 'Ahmedabad', 'odo': '1,10,000', 'Min': '-', 'Max': '-'}
{'make': 'HONDA', 'model': 'CITY ZX', 'year': 2008, 'trim': 'GXI', 'state': 'Ahmedabad', 'odo': '1,20,000', 'Min': '-', 'Max': '-'}
{'make': 'HYUNDAI', 'model': 'I20', 'year': 2009, 'trim': 'MAGNA 1.2 VTVT', 'state': 'Ahmedabad', 'odo': '1,10,000', 'Min': 'Rs.1,20,000', 'Max': 'Rs.1,36,000'}
{'make': 'HYUNDAI', 'model': 'XCENT', 'year': 2014, 'trim': 'S 1.2', 'state': 'Ahmedabad', 'odo': '60,000', 'Min': '-', 'Max': '-'}
{'make': 'MARUTI', 'model': 'ALTO K10', 'year': 2012, 'trim': 'VXI ', 'state': 'Ahmedabad', 'odo': '80,000', 'Min': 'Rs.1,19,000', 'Max': 'Rs.1,32,000'}
{'make': 'MARUTI', 'model': 'EECO', 'year': 2012, 'trim': '7 STR', 'state': 'Ahmedabad', 'odo': '80,000', 'Min': '-', 'Max': '-'}
{'make': 'MARUTI', 'model': 'WAGON R 1.0', 'year': 2014, 'trim': 'LXI', 'state': 'Ahmedabad', 'odo': '60,000', 'Min': 'Rs.1,75,000', 'Max': 'Rs.1,90,000'}
{'make': 'RENAULT', 'model': 'DUSTER', 'year': 2012, 'trim': 'RXZ DIESEL 110', 'state': 'Ahmedabad', 'odo': '1,10,000', 'Min': '-', 'Max': '-'}
{'make': 'HYUNDAI', 'model': 'I10', 'year': 2012, 'trim': 'SPORTZ 1.2 KAPPA2', 'state': 'Hyderabad', 'odo': '80,000', 'Min': 'Rs.1,76,000', 'Max': 'Rs.1,93,000'}
{'make': 'MARUTI', 'model': 'RITZ', 'year': 2013, 'trim': 'VDI ', 'state': 'Hyderabad', 'odo': '1,00,000', 'Min': '-', 'Max': '-'}
{'make': 'VOLKSWAGEN', 'model': 'VENTO', 'year': 2013, 'trim': 'HIGHLINE DIESEL', 'state': 'Hyderabad', 'odo': '1,00,000', 'Min': '-', 'Max': '-'}
{'make': 'CHEVROLET', 'model': 'AVEO', 'year': 2007, 'trim': 'LS 1.4', 'state': 'New Delhi', 'odo': '1,20,000', 'Min': '-', 'Max': '-'}
{'make': 'FORD', 'model': 'ECOSPORT', 'year': 2015, 'trim': '1.5 TITANIUM TI VCT AT', 'state': 'New Delhi', 'odo': '50,000', 'Min': '-', 'Max': '-'}
{'make': 'FORD', 'model': 'ECOSPORT', 'year': 2018, 'trim': '1.5TITANIUM TDCI', 'state': 'New Delhi', 'odo': '30,000', 'Min': '-', 'Max': '-'}
{'make': 'HONDA', 'model': 'CITY', 'year': 2006, 'trim': '1.5 GXI', 'state': 'New Delhi', 'odo': '1,20,000', 'Min': '-', 'Max': '-'}
{'make': 'HONDA', 'model': 'CITY', 'year': 2014, 'trim': 'VX MT PETROL', 'state': 'New Delhi', 'odo': '60,000', 'Min': '-', 'Max': '-'}
{'make': 'HONDA', 'model': 'CIVIC', 'year': 2009, 'trim': '1.8V MT', 'state': 'New Delhi', 'odo': '1,10,000', 'Min': 'Rs.1,43,640', 'Max': 'Rs.1,53,900'}
{'make': 'HYUNDAI', 'model': 'CRETA', 'year': 2015, 'trim': '1.6 SX PLUS DIESEL', 'state': 'New Delhi', 'odo': '70,000', 'Min': '-', 'Max': '-'}
{'make': 'HYUNDAI', 'model': 'CRETA', 'year': 2016, 'trim': '1.6 SX PLUS DIESEL', 'state': 'New Delhi', 'odo': '60,000', 'Min': '-', 'Max': '-'}
{'make': 'HYUNDAI', 'model': 'ELITE I20', 'year': 2016, 'trim': 'SPORTZ 1.2', 'state': 'New Delhi', 'odo': '40,000', 'Min': 'Rs.4,08,800', 'Max': 'Rs.4,38,000'}
{'make': 'HYUNDAI', 'model': 'GRAND I10', 'year': 2014, 'trim': 'SPORTS 1.2 VTVT', 'state': 'New Delhi', 'odo': '60,000', 'Min': 'Rs.3,02,400', 'Max': 'Rs.3,24,000'}
{'make': 'HYUNDAI', 'model': 'XCENT', 'year': 2016, 'trim': 'BASE 1.2', 'state': 'New Delhi', 'odo': '40,000', 'Min': '-', 'Max': '-'}
{'make': 'MAHINDRA', 'model': 'KUV100', 'year': 2016, 'trim': 'K8 6 STR', 'state': 'New Delhi', 'odo': '40,000', 'Min': 'Rs.2,80,000', 'Max': 'Rs.3,00,000'}
{'make': 'MAHINDRA', 'model': 'QUANTO', 'year': 2013, 'trim': 'C4', 'state': 'New Delhi', 'odo': '1,00,000', 'Min': '-', 'Max': '-'}
{'make': 'MAHINDRA', 'model': 'QUANTO', 'year': 2013, 'trim': 'C6', 'state': 'New Delhi', 'odo': '1,00,000', 'Min': 'Rs.2,19,000', 'Max': 'Rs.2,42,000'}
{'make': 'MARUTI', 'model': 'A STAR', 'year': 2010, 'trim': 'LXI', 'state': 'New Delhi', 'odo': '1,00,000', 'Min': '-', 'Max': '-'}
{'make': 'MARUTI', 'model': 'BALENO', 'year': 2018, 'trim': 'ALPHA 1.2 K12 ', 'state': 'New Delhi', 'odo': '20,000', 'Min': '-', 'Max': '-'}
{'make': 'MARUTI', 'model': 'BALENO', 'year': 2015, 'trim': 'ALPHA DDIS 190 ', 'state': 'New Delhi', 'odo': '70,000', 'Min': '-', 'Max': '-'}
{'make': 'MARUTI', 'model': 'BALENO', 'year': 2017, 'trim': 'DELTA DDIS 190 ', 'state': 'New Delhi', 'odo': '40,000', 'Min': '-', 'Max': '-'}
{'make': 'MARUTI', 'model': 'BALENO', 'year': 2019, 'trim': 'ZETA 1.2 K12 ', 'state': 'New Delhi', 'odo': '10,000', 'Min': 'Rs.6,44,000', 'Max': 'Rs.6,61,250'}
{'make': 'MARUTI', 'model': 'CIAZ', 'year': 2014, 'trim': 'VDI PLUS', 'state': 'New Delhi', 'odo': '80,000', 'Min': 'Rs.5,04,000', 'Max': 'Rs.5,40,000'}
{'make': 'MARUTI', 'model': 'RITZ', 'year': 2015, 'trim': 'VDI ', 'state': 'New Delhi', 'odo': '70,000', 'Min': '-', 'Max': '-'}
{'make': 'MARUTI', 'model': 'SWIFT', 'year': 2016, 'trim': 'VDI', 'state': 'New Delhi', 'odo': '60,000', 'Min': 'Rs.4,48,000', 'Max': 'Rs.4,80,000'}
{'make': 'MARUTI', 'model': 'SWIFT', 'year': 2017, 'trim': 'VDI', 'state': 'New Delhi', 'odo': '40,000', 'Min': 'Rs.5,04,000', 'Max': 'Rs.5,40,000'}
{'make': 'MARUTI', 'model': 'SWIFT', 'year': 2012, 'trim': 'ZXI', 'state': 'New Delhi', 'odo': '80,000', 'Min': 'Rs.3,02,400', 'Max': 'Rs.3,24,000'}
{'make': 'MARUTI', 'model': 'ZEN', 'year': 2006, 'trim': 'LXI', 'state': 'New Delhi', 'odo': '1,20,000', 'Min': 'Rs.50,000', 'Max': 'Rs.60,000'}
{'make': 'NISSAN', 'model': 'TERRANO', 'year': 2013, 'trim': 'XV 110 DIESEL', 'state': 'New Delhi', 'odo': '1,00,000', 'Min': '-', 'Max': '-'}
{'make': 'RENAULT', 'model': 'DUSTER', 'year': 2013, 'trim': 'RXL DIESEL 110', 'state': 'New Delhi', 'odo': '1,00,000', 'Min': '-', 'Max': '-'}
{'make': 'RENAULT', 'model': 'KWID', 'year': 2015, 'trim': 'RXL', 'state': 'New Delhi', 'odo': '50,000', 'Min': 'Rs.1,68,000', 'Max': 'Rs.1,80,000'}

{'make': 'TATA', 'model': 'INDICA VISTA', 'year': 2012, 'trim': 'VX QUADRAJET', 'state': 'New Delhi', 'odo': '1,10,000', 'Min': 'Rs.1,10,000', 'Max': 'Rs.1,25,000'}
{'make': 'TATA', 'model': 'TIAGO', 'year': 2017, 'trim': '\tXZA 1.2 REVOTRON', 'state': 'New Delhi', 'odo': '30,000', 'Min': 'Rs.1,63,000', 'Max': 'Rs.1,77,000'}
{'make': 'TOYOTA', 'model': 'COROLLA', 'year': 2006, 'trim': 'H5 1.8 E', 'state': 'New Delhi', 'odo': '1,20,000', 'Min': '-', 'Max': '-'}
{'make': 'TOYOTA', 'model': 'ETIOS', 'year': 2011, 'trim': 'V', 'state': 'New Delhi', 'odo': '90,000', 'Min': '-', 'Max': '-'}
{'make': 'VOLKSWAGEN', 'model': 'VENTO', 'year': 2012, 'trim': 'TRENDLINE DIESEL', 'state': 'New Delhi', 'odo': '1,10,000', 'Min': '-', 'Max': '-'}
{'make': 'TATA', 'model': 'MANZA', 'year': 2010, 'trim': 'AURA SAFIRE BS IV', 'state': 'New Delhi', 'odo': '1,00,000', 'Min': '-', 'Max': '-'}
{'make': 'MARUTI', 'model': 'SX4', 'year': 2011, 'trim': 'VXI', 'state': 'New Delhi', 'odo': '90,000', 'Min': 'Rs.1,45,600', 'Max': 'Rs.1,56,000'}
{'make': 'CHEVROLET', 'model': 'AVEO U VA', 'year': 2007, 'trim': 'LS 1.2', 'state': 'Mumbai', 'odo': '1,20,000', 'Min': '-', 'Max': '-'}
{'make': 'DATSUN', 'model': 'GO', 'year': 2014, 'trim': 'T', 'state': 'Mumbai', 'odo': '60,000', 'Min': '-', 'Max': '-'}
{'make': 'HONDA', 'model': 'ACCORD', 'year': 2008, 'trim': '2.4 AT I VTEC', 'state': 'Mumbai', 'odo': '1,20,000', 'Min': '-', 'Max': '-'}
{'make': 'HONDA', 'model': 'BRIO', 'year': 2012, 'trim': '1.2 V MT I VTEC', 'state': 'Mumbai', 'odo': '80,000', 'Min': 'Rs.1,41,000', 'Max': 'Rs.1,56,000'}
{'make': 'HONDA', 'model': 'CITY', 'year': 2015, 'trim': 'VX MT DIESEL', 'state': 'Mumbai', 'odo': '70,000', 'Min': '-', 'Max': '-'}
{'make': 'HYUNDAI', 'model': 'ACCENT', 'year': 2006, 'trim': 'GLE', 'state': 'Mumbai', 'odo': '1,20,000', 'Min': 'Rs.56,672', 'Max': 'Rs.60,720'}
{'make': 'HYUNDAI', 'model': 'ELITE I20', 'year': 2014, 'trim': 'ASTA 1.4 CRDI', 'state': 'Mumbai', 'odo': '80,000', 'Min': '-', 'Max': '-'}
{'make': 'HYUNDAI', 'model': 'EON', 'year': 2015, 'trim': 'MAGNA PLUS', 'state': 'Mumbai', 'odo': '50,000', 'Min': '-', 'Max': '-'}
{'make': 'HYUNDAI', 'model': 'I10', 'year': 2009, 'trim': 'ERA', 'state': 'Mumbai', 'odo': '1,10,000', 'Min': '-', 'Max': '-'}
{'make': 'HYUNDAI', 'model': 'I10', 'year': 2008, 'trim': 'MAGNA 1.2', 'state': 'Mumbai', 'odo': '1,20,000', 'Min': '-', 'Max': '-'}
{'make': 'HYUNDAI', 'model': 'I20', 'year': 2012, 'trim': 'MAGNA O 1.2', 'state': 'Mumbai', 'odo': '80,000', 'Min': '-', 'Max': '-'}
{'make': 'HYUNDAI', 'model': 'VERNA', 'year': 2007, 'trim': 'XI', 'state': 'Mumbai', 'odo': '1,20,000', 'Min': 'Rs.66,976', 'Max': 'Rs.71,760'}
{'make': 'MARUTI', 'model': 'BALENO', 'year': 2016, 'trim': 'ALPHA 1.2 K12 ', 'state': 'Mumbai', 'odo': '40,000', 'Min': '-', 'Max': '-'}
{'make': 'MARUTI', 'model': 'BALENO', 'year': 2018, 'trim': 'ALPHA 1.2 K12 ', 'state': 'Mumbai', 'odo': '20,000', 'Min': '-', 'Max': '-'}
{'make': 'MARUTI', 'model': 'CELERIO', 'year': 2016, 'trim': 'VXI CNG', 'state': 'Mumbai', 'odo': '40,000', 'Min': '-', 'Max': '-'}
{'make': 'MARUTI', 'model': 'CELERIO', 'year': 2017, 'trim': 'VXI CNG', 'state': 'Mumbai', 'odo': '30,000', 'Min': '-', 'Max': '-'}
{'make': 'MARUTI', 'model': 'IGNIS', 'year': 2017, 'trim': 'DELTA 1.2 K12 ', 'state': 'Mumbai', 'odo': '30,000', 'Min': '-', 'Max': '-'}
{'make': 'MARUTI', 'model': 'RITZ', 'year': 2010, 'trim': 'LXI ', 'state': 'Mumbai', 'odo': '1,00,000', 'Min': '-', 'Max': '-'}
{'make': 'MARUTI', 'model': 'SWIFT', 'year': 2012, 'trim': 'ZDI', 'state': 'Mumbai', 'odo': '1,10,000', 'Min': '-', 'Max': '-'}
{'make': 'MARUTI', 'model': 'WAGON R 1.0', 'year': 2014, 'trim': 'LXI', 'state': 'Mumbai', 'odo': '60,000', 'Min': 'Rs.2,46,400', 'Max': 'Rs.2,64,000'}
{'make': 'RENAULT', 'model': 'DUSTER', 'year': 2014, 'trim': '85 PS RXL OPT', 'state': 'Mumbai', 'odo': '80,000', 'Min': '-', 'Max': '-'}
{'make': 'SKODA', 'model': 'FABIA', 'year': 2011, 'trim': 'AMBIENTE 1.2 MPI', 'state': 'Mumbai', 'odo': '90,000', 'Min': '-', 'Max': '-'}
{'make': 'TATA', 'model': 'NANO', 'year': 2016, 'trim': 'TWIST XTA', 'state': 'Mumbai', 'odo': '40,000', 'Min': '-', 'Max': '-'}
{'make': 'TOYOTA', 'model': 'INNOVA', 'year': 2011, 'trim': '2.5 V 8 STR', 'state': 'Mumbai', 'odo': '1,20,000', 'Min': 'Rs.3,86,400', 'Max': 'Rs.4,14,000'}
{'make': 'VOLKSWAGEN', 'model': 'POLO', 'year': 2012, 'trim': 'HIGHLINE1.2L DIESEL', 'state': 'Mumbai', 'odo': '1,10,000', 'Min': '-', 'Max': '-'}
{'make': 'VOLKSWAGEN', 'model': 'VENTO', 'year': 2010, 'trim': 'HIGHLINE PETROL', 'state': 'Mumbai', 'odo': '1,00,000', 'Min': '-', 'Max': '-'}
{'make': 'MARUTI', 'model': 'ZEN ESTILO', 'year': 2011, 'trim': 'VXI', 'state': 'Mumbai', 'odo': '90,000', 'Min': 'Rs.1,51,200', 'Max': 'Rs.1,62,000'}

In [ ]:
pd.DataFrame(scrape_list).to_csv('cardekhoscrape.csv')

In [ ]:
scrape_list